body {
            font-family: "Poppins", sans-serif;
            //background-color: fafafa;
            }
            
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .logo
		{
           max-width: 200px;
           margin-left: 70px; 
        }
		
		.logo2 {
          max-width: 220px;
		  display: none;
          }
  
        .card {
            border-radius: 5px;
            box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
            padding: 30px;
            margin: 20px;
            width: 400px;
            transition: all 0.3s ease-out;
            }
        .card:hover {
            transform: translateY(-12px);
            cursor: pointer;
            }
            
        .card p {
            color: #a3a5ae;
            font-size: 16px;
            }
            
        .image {
            float: right;
            max-width: 64px;
            max-height: 64px;
            }
        .gran {
		  width: 93%;
		  background: linear-gradient(to right, #add8e6, blue, #00008B );
		  border-left: 3px solid #add8e6;
		}
		.gran > h2{
		  color: white;
		  text-align: center;
		}
		.gran > p{
		  color: white;
		  text-align: center;
		}
		
        .soli {
            border-left: 3px solid #add8e6;
            }

        .visu {
            border-left: 3px solid blue;
            }

        .pesquisa {
            border-left: 3px solid #00008B;
            }

        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        
        .navbar a {
            float: left; 
            display: block;
            color: white; 
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        .navbar a:hov1er {
            background-color: #ddd; 
            color: black;
        }
		
		#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: blue;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #add8e6, blue);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

    .ml-auto2{
	display: none;
	}
	
footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            bottom: 0;
            width: 100%;
			margin-top: 10%;
        }

        .container {
            width: 70%;
            margin: 0 auto;
            overflow: hidden;
        }

        
       

@media screen and (max-width: 1020px) {
  .ml-auto{
  display: none;
}
.ml-auto2{
  display: block;
}

.logo2 {
   display: block;
   }

.container {
   width: 100%;
            }
}