@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
      
	   /* corpo*/
	  body{
	    margin: 0;
		font-family: 'Poppins', sans-serif;	
	  }
	  
      #local-login{
	  display:flex;
	  }	  
	   
	   /* pagina layout*/
	  #main-login{
	    width: 100vw;
		height: 100vh;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  
	  
	  /* parte esquerda*/
	  .left-login{
	  width: 50wh;
	  height: 100wh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  position: relative;
	    left: -40px;
	  }
	  
	  
	  /* TÃ­tulo esquerda*/
	  .left-login > h1 {
	  font-size: 200%;
	  color: black;
	  }
	  
	  
	  /* imagem esquerda*/
	  .logo{
	    width:95%;;
}

	 .left-mobile {
	  display: none;
	 }
	  
	  
	  /* parte direita*/
	  .right-login {
	   width: 50wh;
	  height: 100wh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  }
	  
	  
	  /* quadrado com o form*/
	  #card-login{
	  width: 80%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  padding: 30px 45px;
	  background: white;
	  border-radius: 20px;
	  box-shadow: 0px 10px 50px #00000056;
	  }
	 
	 
	 /*TÃ­tulo login*/
	  .login-login{
	  display: flex;
	  alimn-items: center;
	  justify-content: space-between;
	  }
	  
	  
	  /*TÃ­tulo login*/
	  .login-login > h1{
	  color: black;
	  font-weight: 500;
	  margin: 0;
	  }
	   
	   
	  /* Ã­cone de lua*/ 
	  .moon{
	  color: black;
	  width: 200px;
	  display: flex;
      align-content: static;
	  justify-content: end ;
	  }
	  
	  
	  /* Ã­cone de lua cursor*/
	  #mode_icon {
	   cursor: pointer;
	   font-size: 20px;
	  }
	  
	  /*organiza caixa de texto*/
	  .text-field {
	  width: 110%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  margin:10px;
	  }
	  
	   /*nome caixa de texto*/
	  .text-field > label{
	  color: black;
	  margin-bottom: 5px;
	  }
	  
	  /*caixa de texto*/
	  .input-field{
	  width: 100%;
	  border-radius: 10px;
	  padding:15px;
	  background: #6495ED;
	  color: white;
	  font-size: 12pt;
	  box-shadow: 5px 0px 40px #00000056;
	  outline: none;
	  box-sizing: border-box;
	  }
	  
	   
	  /*dentro da caixa de texto decoraÃ§Ã£o*/
	  .input-field > input{
	  color: black;
	  background-color: transparent;
	  border: none;
	  border-bottom: 1px solid white;
	  outline: none;
	  width:90%;
	  }
	  
	  
	  /*dentro da caixa de texto escrita*/
	  .input-field > input::placeholder{
	  color: white;
	  font-size: 15px;
	  }
	  
	  
	  
	  /* Esqueceu a senha mudanÃ§a de cor*/
	  .forgot_password a:hover{
		color: blue;
	  }
	  
	  #show-or-hide {
	   width : 100%;
	   border: none;
	   border-radius: 5px;
       outline: none;
	   font-weight: 750;
	   letter-spacing: 3px;
	   color:#00008B;
	   background: #6495ED;
	   cursor: pointer;
	   box-shadow: 0px 10px 40px gray;
	   justify-content: center;
	   padding: 16px 5px;
	  }
	  
	  .container {
	  text-align: center;
	  background: #6495ED;
	  border-radius: 10px;
	  padding:15px;
	  box-shadow: 0px 10px 40px #00000056;
	  }
	  
	  
	  /* botÃ£o de login*/
	  .btn-login {
	   width : 90%;
	   padding: 16px 5px;
	   margin: 15px;
	   border: none;
	   border-radius: 8px;
       outline: none;
	   text-transform: uppercase;
	   font-weight: 800;
	   letter-spacing: 3px;
	   color:white;
	   background: #00008B;
	   cursor: pointer;
	   box-shadow: 0px 10px 40px #00000056;
	   justify-content: center;
	  }
	  
	  /*nao tem conta cor*/
	  .novocadastro  a{
	    text-decoration: none;
		font-size: 13px;
		color: black;
	  }
	  
	  
	  /* mudanÃ§a de cor*/
	  .novocadastro a:hover{
		color: blue;
	  }
	  
	  /* fotos redes sociais*/
	  #social-media{
	   display: flex;
	   justify-content: space-around;
	  }
	  
	  #social-media img {
	     width: 45px;
	  }
	  
	  #social-media img:hover{
	     transform: scale(1.2);
	  }

	  
	  /* mudanÃ§a para o modo dark, cor e fundo*/
	  
	  .dark#main-login {
	  background-color: #2c2c2c;
	  
	  }
	  
	  .dark#main-login .left-login > h1 {
	  color:#6495ED;
	  }
	  
	  .dark#main-login .logo {
	 filter: drop-shadow(10px 10px 10px rgba(0, 0, 200, 0.5));
	  }
	  
	  .dark#card-login{
	  background-color: #191919;
	  }
	  
	  
	   /* mudanÃ§a para o modo dark, texto e Ã­cones*/
    .dark#card-login .input-field>input::placeholder,
    .dark#card-login .input-field i {
      color: black;
    }

    /*Linha preta*/
    .dark#card-login .input-field>input {
      border-bottom: 1px solid black;
    }
	  
	  /*cor da caixa de texto*/
	  .dark#card-login .input-field{
	   background: gray;
	  }
	  
	  /*container com captcha*/
	  .dark#card-login .container{
	  background: gray;
	  }
	  
	  /*nome das caixas*/
	  .dark#card-login .text-field > label{
	  color: white;
	  }
	  
	  /*esqueceusuasenha*/
	 /*.dark#card-login .forgot_password > a,*/
	  .dark#card-login .novocadastro > a {
	  color: white;
	  }
	  
	 /*.dark#card-login .forgot_password > a:hover,*/
	  .dark#card-login .novocadastro > a:hover{
	  color: blue;
	  }
	  
	  .dark#card-login .login-login > h1{
	  color: white;}
	 
	 .dark#card-login .btnvalidar {
	 background: gray;
	 color: black;
	 box-shadow: 0px 10px 40px black;
	 }
	 
     .dark#card-login .btn-login {
	  background: #6495ED;}	 
	  
      .dark#card-login .moon {
	 color: white;
	 }
	 
	 .dark#main-login .text{
	  color:#6495ED;;
	 }
	 
	.dark#main-login .logo1{
	  filter: drop-shadow(10px 10px 10px rgba(0, 0, 200, 0.5)); 
	}
	
	footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            bottom: 0;
            width: 100%;
        }

        .container1 {
            width: 70%;
            margin: 0 auto;
            overflow: hidden;
        }

	 
@media screen and (max-width: 1020px) {
  .left-login > h1 {
    display: none;
  }

  .left-mobile {
     width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 70%;
    margin-top: 20px; /* Ajuste o valor conforme necessário */
  }

  .logo1 {
    width: 80%;
    filter: drop-shadow(10px 10px 10px rgba(90, 90, 90, 0.7));
  }

  .local-login {
    flex-direction: column;
    align-items: center;
  }

  #main-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100%; /* Ajuste conforme necessário para dar espaço ao rodapé */
  }

  footer {
	margin-top: 20%;  
	  
  }


}
